.PTGcenterImages
  text-align: center
  margin-top: 0px
  margin-bottom: 0px

.PTGcenterImages img
  width: 200px
  height: 200px

.PTGrowImages
  float: left
  text-align: center
  color: #393939
  font-size: 12px
  font-weight: bold
  width: 135px
  height: 135px
  margin-top: 0px

.PTG2n1rowImages
  float: left
  margin-right: 20px
  margin-left: 100px
  text-align: center
  color: #393939
  font-size: 12px
  font-weight: bold
  width: 150px
  height: 150px

.PTG2x2ImageSet
  float: left
  margin-left: 175px
  text-align: center
  color: #393939
  font-size: 12px
  font-weight: bold
  width: 150px
  height: 150px

.PTG2x2R_ImageSet
  float: left
  margin-left: 50px
  text-align: center
  color: #393939
  font-size: 12px
  font-weight: bold
  width: 40%
